/*Only use this file if you want to override bootstrap or create your own style*/

body {
  background-image: url(https://i.redd.it/hqa7ofyiyi201.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.stone-cold {
  max-width: 200px;
  height: 200px
};